<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EQ Registry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}">
</head>
<body>
<h1>Electronic Questionnaire (EQ) Registry</h1>

<a href="/latest">View latest</a>
<a href="/questionnaire/create">Add an EQ</a>
</body>
</html>