<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EQ Registry - {{ questionnaire_name }} > Create Version</title>
</head>
<body>

<form action="{{ url_for('post_create_version', questionnaire_name=questionnaire_name) }}" method="POST">
    <label>
        Id:
        <input name="id" type="text">
    </label>
    <label>
        Form type:
        <input name="form_type" type="text">
    </label>
    <label>
        Created by:
        <input name="created_by" type="text">
    </label>
    <label>
        Lang:
        <input name="lang" type="text">
    </label>
    <label>
        Variant:
        <input name="variant" type="text">
    </label>
    <label>
        Description:
        <input name="description" type="text">
    </label>
    <button type="submit">Create</button>
</form>

</body>
</html>